body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
.wrap {
  margin: 0 auto;
  width: 800px;
  padding-top: 20px;
}
.nav {
  display: flex;
  border-bottom: 1px solid #000;
  height: 40px;
}
.nav a {
  flex: 1;
  font: 14px/38px "宋体";
  text-align: center;
  padding: 1px 1px 0;
  color: #000;
  height: 40px;
  margin-bottom: -1px;
}
.nav a.active {
  background: #fff;
  color: red;
  padding: 0;
  border: 1px solid #000;
  border-bottom: none;
}
.pageNav {
  display: flex;
  margin-top: 10px;
  border-top: 1px solid #000;
  padding-top: 5px;
  justify-content: center;
}
.pageNav a,
.pageNav span {
  margin: 0 3px;
  width: 28px;
  font: 14px/30px "宋体";
  text-align: center;
  color: #000;
  border: 1px solid red;
  color: red;
}
.pageNav span {
  padding: 1px;
  border: none;
  color: #000;
}
